body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  max-width: 300px;
  max-height: 380px;
  border-radius: 4px;
  background-color: #878787;
  cursor: pointer;
  transition: all 0.2s;
}

.card:hover {
  opacity: 0.8;
}

.card .img-wrapper {
  width: auto;
}

.card img {
  width: 100%;
  height: 200px;
}

.card .info-wrapper {
  padding: 1em;
}
.container-grid {
  padding: 2em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-gap: 1em;
  justify-content: center;
}